.feauterd{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: start;
    margin: 50px 0;
    flex-wrap: wrap;
    padding: 0 100px;
    gap: 35px;
}
.one {
    position: relative;
    
}
.one-info{
    width: 400px;
    height: 500px;
}
.one-info1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f35525;
    position: absolute;
    bottom: -26px;
    left: -38px;
}
.one-info2 {
    margin: 20px 28px;
}
.two{
    width: 400px;
}
.two h1{
    font-weight: 600;
  font-size: 50px;
}
/* .two-h4 ::before{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #f35525;
    position: absolute;
    top: 0;
    right: 0;


} */
.two p{
    width: 250px !important;
}

.two-card{
    background-color: #f0f3f4;
    border-radius: 10px;
    width: 100% ;
   
    
}
.two-h4 h4{
color: #f35525;
font-weight: bold;
border-left:4px solid #f35525;
padding-left: 5px;
}
.two-card p{
    padding: 10px 0;
    line-height: 25px;
    color: #292b2b;
}
.two-card h4{
    
    color: #f35525;
}
.two-card .span1{
    font-weight: bold;
    color: black;
}
.two-card .span2{
    color: rgb(8, 173, 210);
}
.paraghrap{
    font-weight: bold;
}

  @media  (max-width:700px){
    .two h1{
        font-weight: 600;
      font-size: 30px;
    }
    .one-info{
        width: 250px;
        height: 400px;
    }
  }
  @media  (max-width:850px){ 
    .two{
        margin: 60px 0;
    }

  }