.apartm{
    width: 60%;
    

}
.apartm img{
    width: 95%;
    
    object-fit: cover;
}
.apartm button{
    border: none;
    border-radius: 10px;
    background-color: #fbd9cf;
    color: #1e1e1e;
    margin: 20px 0;
    padding: 3px 20px;
    font-weight: bold;
}
.apartm p{
    font-size: 30px;
    font-weight: 600;
}

